<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pycoding.Mapper.BoardMapper">
	<select id="getPosts" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT UUID
			, TITLE
			, CONTENT
			, REG_USER
			, REG_DTM
			, MOD_USER
			, MOD_DTM
		FROM PYCODING.BOARD
	</select>
</mapper>